
#ifndef SYSTEM_H_
#define SYSTEM_H_

#include <vector>
#include <Eigen/Sparse>

#include "Attributes.hpp"
#include "SystemBase.hpp"

class System : public SystemBase
{
  public:
    State F(const StateArray& states, const real dx, const real x, const real t) const
    {
      real $TEMPDECL; 
      $TEMPINIT;
      State F;
      F << $FUNCTION;
      return F;
    };

  private:
};

#endif
